# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SWEEPRO_LEFT

config ZMK_KEYBOARD_NAME
	default "Sweep-Pro"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SWEEPRO_RIGHT
config ZMK_KEYBOARD_NAME
  default "Sweep-Pro-R"

endif

if SWEEPRO_LEFT || SWEEPRO_RIGHT

config ZMK_SPLIT
	default y

config ZMK_USB
	default y

endif

