# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if LCDTEST_LEFT

config ZMK_KEYBOARD_NAME
	default "LCDTest"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if LCDTEST_LEFT || LCDTEST_RIGHT

config ZMK_SPLIT
	default y

endif
