# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if POINTDEVICE_TEST_LEFT

config ZMK_KEYBOARD_NAME
	default "PDTest"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if POINTDEVICE_TEST_LEFT || POINTDEVICE_TEST_RIGHT

config ZMK_SPLIT
	default y

endif
