/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/matrix_transform.h>

/ {

	chosen {
		zmk,kscan = &kscan;
		zmk,matrix_transform = &default_transform;
	};

	default_transform: keymap_transform_0 {
		compatible = "zmk,matrix-transform";
		columns = <7>;
		rows = <2>;
		map = <
		RC(0,0)  RC(0,1) RC(0,2)  RC(0,3)  RC(0,4) RC(0,5) RC(0,6) 
    RC(1,0)  RC(1,1) RC(1,2)
		>;
	};

	kscan: kscan {
		compatible = "zmk,kscan-composite";
		label = "KSCAN";
		rows = <2>;
		columns = <7>;

		normal_keys {
			kscan = <&kscan0>;
		};

		touch_keys: touch_keys {
			kscan = <&kscan1>;
      row-offset = <1>;
			// column-offset = <2>;
		};
	};

	kscan0: kscan0 {
		compatible = "zmk,kscan-gpio-direct";
		label = "KEYBOARD-MATRIX";
		input-gpios
		= <&gpio0  6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
		, <&gpio0  8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
		, <&gpio0 24 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
		, <&gpio0  9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
		, <&gpio0 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
		, <&gpio1  4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
		, <&gpio1  6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
		;
	};

	sliders {
		compatible = "zmk,keymap-sliders";
		sliders = <&kscan1>;
	};

};

  &i2c0 {
	  compatible = "nordic,nrf-twi";
	  sda-pin = <45>;
  	scl-pin = <2>;
    status = "okay";

	  kscan1: kscan1@28 {
		  compatible = "zmk,kscan-cap1203";
      status = "okay";
      reg = <0x28>;
		  label = "SLIDER";
		  int-gpios
		  = <&gpio1  11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
	  };
  };
