# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SWEEPRO_CE_LEFT

config ZMK_KEYBOARD_NAME
	default "SweepPro-CE"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SWEEPRO_CE_RIGHT
config ZMK_KEYBOARD_NAME
  default "SweepPro-CE-R"

endif

if SWEEPRO_CE_LEFT || SWEEPRO_CE_RIGHT

config ZMK_SPLIT
	default y

config ZMK_USB
	default y

endif

